/** @jsxImportSource @emotion/react */
import { css } from '@emotion/react';

/** <%= comment %> */
const <%= name %> = () => {
  return (
    <>
      <%= name %>
      <div css={main}>
      </div>
    </>
  );
}
const main = css`
  margin: 0;
`;
export default <%= name %>

